defaults:
  - _self_
  - algo: ddqn
  - env: train
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}/${algo.name}_${experiment.type}
experiment:
  type: "train_agent"
logging:
  fps: 4
  use_cometml: true
  verbose_log_ep_interval : 100
  save_model_step_freq: 50_000 
  step_logging_freq: 1000
  video_start_every: 50_000
  video_frames_per_clip: 120
  video_snapshot_every: 1
training:
  nb_env_steps: 500_000
  seed: 42