defaults:
  - _self_
  - algo: ddqn
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}/${algo.name}_${experiment.type}
experiment:
  type: "train_agent"
logging:
  fps: 4
  use_cometml: false
  verbose_log_ep_interval : 100
  save_model_step_freq: 50_000 
  step_logging_throttle_steps: 10
training:
  nb_env_steps: 200_000
  seed: 42
  batch_size: 128
env:
  _partial_: true
  _target_: ev_charging.env.EvChargingEnv
  device: "cpu"
  advance_until_next_request: true
  nb_stations: 3
  min_charge_speed: 4
  max_charge_speed: 4
  min_charge_speed_sharpness: 3
  max_charge_speed_sharpness: 3
  min_chargers_per_station: 8
  max_chargers_per_station: 8
  min_travel_time_to_station: 6
  max_travel_time_to_station: 7
  max_nb_cars_traveling_to_station: 5
  max_nb_cars_waiting_at_station: 3
  min_car_capacity: 100
  max_car_capacity: 300
  max_car_init_soc: 0.7
  station_full_penalty: 2.0
  min_steps_between_arrivals: 1
  max_steps_between_arrivals: 3
  max_steps: 1000